/*search bar*/


/* CSS Reset & Font */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Basic Styling */



.title {
  font-size: 2rem;
  color: black;
  margin-bottom: 2rem;
}

.search-form {
  position: relative;
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 999px;
  background-color: white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  padding: 0.75rem;
  margin: 0 0.5rem;
  transition: width 0.5s;
}

.search-input {
  background-color: white;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  border-radius: 999px;
  padding-left: 1rem;
  font-size: small;
  pointer-events: none;
}

.search-button {
  width: 3rem;
  height: 3rem;
  border-radius: 999px;
  background-color: #005e09;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.5s;

}

.search-icon,
.search-close {
  position: absolute;
  font-size: 1.25rem;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-close {
  opacity: 0;
}

/* Active Search */

.active-search {
  max-width: 100%;
  width: 20rem;
}

.active-search .search-button {
  left: calc(100% - 2rem);
}

.active-search .search-input {
  pointer-events: initial;
}

.active-search .search-close {
  opacity: 1;
}

.active-search .search-icon {
  opacity: 0;
}

/*search bar*/
/* search filters*/
.filterDiv:hover {
    background-color: lightblue;
}

/* search filters*/


/*Main Menu*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


html {
    height: 100%;
    width: 100%;
}


ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    color: black;
}

li {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    background-color: grey;
    border-style: solid;
    border-color: black;
    font-family: 'Merriweather', serif;

}

html body {
    background-color: lightgray;
}

.flex-container div {
    background-color: grey;

    padding: 20px;
    font-size: 20px;
    height: 250px;
    width: 400px;
    border-style: solid;
    font-family: 'Merriweather', serif;
    margin-right: 200px;
}

div.gallery:hover {
    border: 1px solid:grey;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: darkolivegreen;
}

.images2 {
    margin-left: 550px;
    margin-top: -300px;
}
/*Main Menu*/


.container {
  overflow: hidden;
}

.filterDiv {
  float: left;
  background-color: #2196F3;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #666;
  color: white;
}