@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
   html {
    height: 100%;
    width: 100%;
}

/* breakpoint one  */
@media screen and (max-width:1500px) {
 

ul {
    list-style-type: none;
    margin: 0.3125rem;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    color: black;
}

li {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    background-color: grey;
    border-style: solid;
    border-color: black;
    font-family: 'Merriweather', serif;
}

html body {
    background-color: lightgray;
}

.flex-container div {
    background-color: grey;
    padding: 1.25rem;
    font-size: 1.25rem;
    height: 15.625rem;
    width: 25rem;
    border-style: solid;
    font-family: 'Merriweather', serif;
    margin-right: 12.5rem;
}

div.desc {
    padding: 0.9375rem;
    text-align: center;
    background-color: darkolivegreen;
}

.images2 {
    margin-left: 34.375rem;
    margin-top: -18.75rem;
}
}
/* breakpoint one  */

/* breakpoint two  */
@media screen and (min-width:600px) {
  ul {
    list-style-type: none;
    margin: 0.3125rem;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    color: black;
}

li {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    background-color: grey;
    border-style: solid;
    border-color: black;
    font-family: 'Merriweather', serif;
}

html body {
    background-color: lightgray;
}

.flex-container div {
    background-color: grey;
    padding: 1.25rem;
    font-size: 1.25rem;
    height: 15.625rem;
    width: 25rem;
    border-style: solid;
    font-family: 'Merriweather', serif;
    margin-right: 12.5rem;
}


.images2 {
    margin-left: 20rem;
    margin-top: -18.75rem;
}
}
/* breakpoint two  */

/* breakpoint three  */
@media only screen and (max-width: 600px) {
    ul {
    list-style-type: none;
    margin: 0.3125rem;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    color: black;
}

li {
    float: left;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 0.875rem 1rem;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}

h1 {
    text-align: center;
    color: black;
    background-color: grey;
    border-style: solid;
    border-color: black;
    font-family: 'Merriweather', serif;
}

html body {
    background-color: lightgray;
}

.flex-container div {
    background-color: grey;
    padding: 1.25rem;
    font-size: 1.25rem;
    height: 15.625rem;
    width: 25rem;
    border-style: solid;
    font-family: 'Merriweather', serif;
    margin-right: 12.5rem;
}


.images2 {
    margin-left: 20rem;
    margin-top: -18.75rem;
}
}